<div class="panel panel-default">
  <div class="panel-heading">
    <i class="fa fa-map-marker fa-fw"></i>
    <span>监控点</span>
  </div>
  <div class="panel-body">
      {{#each agents}}
        {{#ge this.type 1}}
          <div class="radio">
            <label>
              <input name="viewpoint" type="radio" value="{{this.id}}" {{#eq @index 0}}checked{{/eq}}/>{{this.name}} - {{ this.location }}
            </label>
          </div>
        {{/ge}}
      {{/each}}
  </div>
</div>
<div class="clouds-list panel panel-default">
  <div class="panel-heading">
    <i class="fa fa-map-marker fa-fw"></i>
    <span>公有云列表</span>
  </div>
  <div class="panel-body">
    <ul class="list-group">
        {{#each agents}}
          {{#neq this.type 1}}
            <li class="list-group-item list-group-item-info" value="{{this.id}}" data-enabled='true' data-agent-id={{this.id}}>
              <i class="fa fa-check"></i>
              <i class="fa fa-square" style="color: {{this.color}}" data-color="{{this.color}}"></i>
              <small>{{this.id}}.{{this.name}}({{ this.location }}) -</small>
            </li>
          {{/neq}}
        {{/each}}
    </ul>
  </div>
</div>
<div class="current-cloud panel panel-default">
  <div class="panel-heading">
    <i class="fa fa-map-marker fa-fw"></i>
    <span>公有云</span>
  </div>
  <div class="panel-body">
    <i class="fa fa-cloud fa-fw" id="cloud-icon"></i>
    <select name="clouds" id="select-clouds" style="width: 80%">
        {{#each agents}}
            {{#neq this.type 1}}
              <option value="{{this.id}}">{{this.id}} - {{ this.name }}</option>
            {{/neq}}
        {{/each}}
    </select>
  </div>
</div>

<div class="panel panel-default" id="delayType">
  <div class="panel-heading">
    <h3 class="panel-title">延迟类型</h3>
  </div>
  <div class="panel-body">
    <select name="delay" id="delay" style="width: 100%;">
      <option value="icmp">ICMP</option>
      <option value="tcp">TCP</option>
      <option value="udp">UDP</option>
    </select>
  </div>
</div>
