<div class="panel panel-primary">
  <div class="panel-heading">
    <i class="fa fa-map-marker fa-fw"></i>
    <select id="viewpoint" name="viewpoint" style="width: 80%">
      {{#each agents}}
      <option value="{{this.id}}">{{this.name}}</option>
      {{/each}}
    </select>
  </div>
  <div class="panel-body">
    <ul class="list-group">
      {{#each agents}}
      <li class="list-group-item list-group-item-info" value="{{this.id}}" data-enabled='true' data-agent-id={{this.id}}>
        <i class="fa fa-check"></i>
        <i class="fa fa-square" style="color: {{this.color}}" data-color="{{this.color}}"></i>
        <small>{{this.id}}.{{this.name}} -</small>
      </li>
      {{/each}}
    </ul>
  </div>
</div>
